# - Make a string

In [1]:
a= "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a

'Samosa Pakora'

# Length of indeces

In [8]:
len(a)

13

In [11]:
[13]

[13]

In [3]:
a[0]

'S'

In [4]:
a[3]

'o'

In [5]:
a[6]

' '

In [6]:
a[5]

'a'

In [7]:
a[7]

'P'

In [17]:
a[13] ** yha error is liy hai ku k letter 13 hai hm us sa 1 letter km likhy ga ideces 0 sa start hoti hai**

SyntaxError: invalid syntax (Temp/ipykernel_6520/4061161864.py, line 1)

In [15]:
a[0:8]

'Samosa P'

In [ ]:
# last indeces is exclusive

In [18]:
a[0:6]

'Samosa'

In [19]:
a[-1]

'a'

In [21]:
a[-4]

'k'

In [22]:
a[-6]

'P'

In [ ]:
a[-1:-6] # yha kush ni print ho ra ku k english left to right parhi jati hai

In [25]:
a[-6:-1] # jb hm -1 enter krtay hai to a ata hai lakin jb hm -6:-1 enter krtay to a ni ra ku k last digit is exclusive

'Pakor'

In [27]:
a[-6:-0] # yha kush ni print ho ra ku k minus 0 ni hota

''

In [36]:
a[-6:13]

'Pakora'

In [40]:
food="biryani"
food

'biryani'

## - Strings Method

In [41]:
food

'biryani'

In [39]:
len(food)

7

# capitalize ist letter

In [42]:
food.capitalize() # is function sa ist letter capital ho jy ga

'Biryani'

# all letters in upper case

In [43]:
food.upper()

'BIRYANI'

# all letters in lower case

In [44]:
food.lower()

'biryani'

# to replace some letters

In [45]:
food.replace("b", "Sh")

'Shiryani'

# counting a specific alphabet in a string

In [46]:
name= " baba_aamar with dr aamar tufail"
name

' baba_aamar with dr aamar tufail'

In [47]:
name.count("a")

9

In [48]:
name.count("m")

2

### - Finding an index number in a large string

In [49]:
name= " baba_aamar with dr aamar tufail"
name

' baba_aamar with dr aamar tufail'

In [52]:
name.find("aa")

6

### - split a string

In [53]:
food=" i love samosa, pakora, biryani, raita and salad"
food

' i love samosa, pakora, biryani, raita and salad'

In [56]:
food.split(",")

[' i love samosa', ' pakora', ' biryani', ' raita and salad']

# Basic Data structure in python
1- Tuple

2- List 

3- Dictionaries

4- Set

## 1 - Tuple
- ordered collection of elements
- enclosed in round braces
- different kind of elements can be stored
- once elements are stored you cannot change them or unmutateable

In [58]:
tup1=(1, "Python" , True, 2.5)
tup1

(1, 'Python', True, 2.5)

# type of a tuple

In [59]:
type(tup1)

tuple

### indexing in tuple

In [62]:
tup1[1]

'Python'

# Last element is exclusive

In [65]:
tup1[0:3]

(1, 'Python', True)

# count of elements in tuple

In [66]:
len(tup1)

4

# To add two tuple

In [68]:
tup2= (2, "baba aamar", 3.5, False)
tup2

(2, 'baba aamar', 3.5, False)

In [28]:
# concatenate
tup1 + tup2

NameError: name 'tup1' is not defined

# 2 dafa kisi tup ko write k liay

In [70]:
# concatenat + repeat
tup1*2 + tup2

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5, 2, 'baba aamar', 3.5, False)

In [72]:
tup3= (20, 30, 40, 50, 85)
tup3

(20, 30, 40, 50, 85)

# to check the min and max value in tuple

In [73]:
min(tup3)

20

In [74]:
max(tup3)

85

*in tupl you cannot replace the value*

In [75]:
tup3*2

(20, 30, 40, 50, 85, 20, 30, 40, 50, 85)

In [25]:
tup3= (20, 30,40,  40, 50,40, 85)
x= tup3.count(40)   #Return the number of times the value 5 appears in the tuple:
x

3

In [27]:
tup3= (20, 30,8, 7,40,8, 7,  40, 50,40, 85)
x= tup3.index(40)
x

4

---

## 2 - Lists
- ordered collection of elements

- enclosed in [] brackets 

- mutateable, you can change value

In [116]:
list1=[2," baba aamar", False]
list1

[2, ' baba aamar', False]

In [84]:
type(list1)

list

In [85]:
len(list1)

3

In [86]:
list1[2]

False

In [89]:
list2= [3, 5, "aamar" , " codanics", 478, 532,False]
list2

[3, 5, 'aamar', ' codanics', 478, 532, False]

In [90]:
list1+list2

[2, ' baba aamar', False, 3, 5, 'aamar', ' codanics', 478, 532, False]

In [91]:
list2*2

[3,
 5,
 'aamar',
 ' codanics',
 478,
 532,
 False,
 3,
 5,
 'aamar',
 ' codanics',
 478,
 532,
 False]

In [96]:
list1.reverse()
list1

[2, ' baba aamar', False]

In [104]:
list1.append("codanics you tube channel")
list1

[2,
 ' baba aamar',
 False,
 'codanics you tube channel',
 'codanics you tube channel',
 'codanics you tube channel',
 'codanics you tube channel',
 'codanics you tube channel',
 'codanics you tube channel']

In [106]:
list2.append("we are pakistani, orange")
list2

[3,
 5,
 'aamar',
 ' codanics',
 478,
 532,
 False,
 'we are pakistani, orange',
 'we are pakistani, orange']

In [110]:
a=["wasim","ali","haider"]
b= ("good","better")
a.append(b)
a

['wasim', 'ali', 'haider', ('good', 'better')]

In [112]:
list1.clear()   # remove all the elements from the list
list1

[]

# copy return a copy of the list

In [120]:
x=list1.copy()

In [124]:
food=[2, 5, "wasim", True]
food.copy()
food

[2, 5, 'wasim', True]

In [123]:
list1.append("wasim")
list1

[2, ' baba aamar', False, 'wasim']

In [129]:
food=[2, 5, "wasim", True]
cars= ['foed', 'bmw','suzuki']
food.extend(cars)
food

[2, 5, 'wasim', True, 'foed', 'bmw', 'suzuki']

In [130]:
x=list1.copy()
x

[2, ' baba aamar', False, 'wasim']

In [136]:
food=[2, 5, "wasim", True]
x=food.index("wasim")
x

2

In [143]:
food=[2, 5, "wasim", True, "baba aamar"]
food.insert(2, " apple")
food

[2, 5, ' apple', 'wasim', True, 'baba aamar']

In [144]:
food=[2, 5, "wasim", True]
food.pop(1)
food

[2, 'wasim', True]

In [145]:
food=[2, 5, "wasim", True]
food.remove("wasim")
food

[2, 5, True]

In [146]:
food=[2, 5, "wasim", True]
food.reverse()
food

[True, 'wasim', 5, 2]

In [150]:
food=["wasim", "haider", "ali", "mohsin"]
food.sort()
food

['ali', 'haider', 'mohsin', 'wasim']

In [152]:
list3= [20, 30, 35 , 38, 40, 12, 15]
len(list3)

7

In [153]:
list3.sort()
list3

[12, 15, 20, 30, 35, 38, 40]

In [156]:
list3*3

[12,
 15,
 20,
 30,
 35,
 38,
 40,
 12,
 15,
 20,
 30,
 35,
 38,
 40,
 12,
 15,
 20,
 30,
 35,
 38,
 40]

In [157]:
lists= food+list3
lists

['ali', 'haider', 'mohsin', 'wasim', 12, 15, 20, 30, 35, 38, 40]

## Dictionaries  , it is a type of data set
- an ordered collection of elements
- key and value
- curly braces or brackets{}
- mutateable, change the values

# Food and their prices

In [158]:
food1={"Samosa":30, " Pakora":35,"raita":10,"salad":15,"chicken roll":50, "paratha":80}
type(food1)

dict

# to extract data

In [159]:
food1.keys()

dict_keys(['Samosa', ' Pakora', 'raita', 'salad', 'chicken roll', 'paratha'])

In [160]:
#or
keys1= food1.keys()
keys1

dict_keys(['Samosa', ' Pakora', 'raita', 'salad', 'chicken roll', 'paratha'])

In [161]:
food1.values()

dict_values([30, 35, 10, 15, 50, 80])

In [165]:
### adding new elements
food1["daal"]=25
food1

{'Samosa': 30,
 ' Pakora': 35,
 'raita': 10,
 'salad': 15,
 'chicken roll': 50,
 'paratha': 80,
 'daal': 25}

In [166]:
food2= {"dates":50, "juice":25,"sharbat":10}
food2

{'dates': 50, 'juice': 25, 'sharbat': 10}

In [167]:
# concatinate
food1+food2   # is sa error a ra ha isk liy hm ko dictionary ko update krna paray ga

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [168]:
food1.update(food2)
food1

{'Samosa': 30,
 ' Pakora': 35,
 'raita': 10,
 'salad': 15,
 'chicken roll': 50,
 'paratha': 80,
 'daal': 25,
 'dates': 50,
 'juice': 25,
 'sharbat': 10}

---

# Sets
- an unnordered and unindexed
- curly braces are used {}
- no duplicate are allowed

In [169]:
s1= {1, 2.5, 5.9, "aamar", "wasim","faisalabad", True} # sets ma bolean operator use ni hu ga nechay true ni aya output ma only integer, whole and strings
s1

{1, 2.5, 5.9, 'aamar', 'faisalabad', 'wasim'}

## 35 time  on youtube

In [181]:
s1.add("younas")
s1

{1, 2.5, 5.9, 'aamar', 'faisalabad', 'younas'}

In [182]:
s1.remove("aamar")
s1

{1, 2.5, 5.9, 'faisalabad', 'younas'}

In [187]:
s2={"faisal","ali","haider", 9, 8, 1}
x=s2.copy()
x

{1, 8, 9, 'ali', 'faisal', 'haider'}

In [2]:
s1= {2.5, 5.9, "aamar", "wasim","faisalabad"}
s2={"faisal","ali","haider", "grapes", "jaman", 9}
x=s1.difference(s2)
x

{2.5, 5.9, 'aamar', 'faisalabad', 'wasim'}

In [3]:
s1= {2.5, 5.9, "aamar", "wasim","faisalabad"}
s2={"faisal","ali","haider", "grapes", "jaman", 9}
s1.difference_update(s2)
s1

{2.5, 5.9, 'aamar', 'faisalabad', 'wasim'}

In [4]:
s1= {2.5, 5.9, "aamar", "wasim","faisalabad"}
s1.discard("wasim")
s1

{2.5, 5.9, 'aamar', 'faisalabad'}

In [6]:
s1= {2.5, 5.9, "aamar", "jaman","wasim","faisalabad"}
s2={"faisal","ali","haider", "grapes", "jaman", 9}
x=s1.intersection(s2)
x

{'jaman'}

In [7]:
x={"apple", "grapes", "cherry"}
y= {"guava", "falsa", "jaman", "grapes"}
x.intersection_update(y)
x

{'grapes'}

In [11]:
x={"apple", "amrud", "cherry"}
y= {"guava", "falsa", "jaman", "grapes"} # agr donu set ma koi cheez same hai to ans false ay ga
z= x.isdisjoint(y)
z

True

In [14]:
x={"apple", "grapes", "cherry"}
y= {"guava", "falsa","apple", "cherry", "jaman", "grapes"}
z=x.issubset(y)   #Return True if all items in set x are present in set y:
z

True

In [15]:
x= {"guava", "falsa","apple", "cherry", "jaman", "grapes"}
y={"apple", "grapes", "cherry"}

z= x.issuperset(y)  #Return True if all items set y are present in set x:
z

True

In [16]:
x= {"guava", "falsa","apple", "cherry", "jaman", "grapes"}
x.pop()  #Remove a random item from the set:
x

{'apple', 'cherry', 'falsa', 'grapes', 'jaman'}

In [17]:
x= {"guava", "falsa","apple", "cherry", "jaman", "grapes"}
x.remove("falsa")  #Remove "falsa" from the set:
x

{'apple', 'cherry', 'grapes', 'guava', 'jaman'}

In [19]:
x= {"guava", "falsa", "cherry", "jaman","grapes" }
y={"apple", "grapes", "cherry"}
z= x.symmetric_difference(y)   #Return a set that contains all items from both sets, except items that are present in both sets:
z

{'apple', 'falsa', 'guava', 'jaman'}

In [20]:
x={"apple", "grapes", "cherry"}
y= {"guava", "falsa", "jaman", "grapes"}
x.symmetric_difference_update(y)   #Remove the items that are present in both sets, AND insert the items that is not present in both sets:
x

{'apple', 'cherry', 'falsa', 'guava', 'jaman'}

In [21]:
x= {"guava", "falsa", "cherry", "jaman","grapes" }
y={"apple", "grapes", "cherry"}
z=x.union(y)  #Return a set that contains all items from both sets, duplicates are excluded:
z

{'apple', 'cherry', 'falsa', 'grapes', 'guava', 'jaman'}

In [22]:
x= {"guava", "falsa", "cherry", "jaman","grapes" }
y={"apple", "grapes", "cherry"}
x.update(y)   #Insert the items from set y into set x:
x

{'apple', 'cherry', 'falsa', 'grapes', 'guava', 'jaman'}